{% extends "Layout.twig" %}

{% block title %}
    <title>Page Admin - Commentaires</title>
{% endblock %}


{% block content %}
    <div class="inner-head overlap">
        <div data-velocity="-.2" style="background: url(http://placehold.it/1500x1100) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->	
        <div class="container">
                <div class="inner-content">
                        <span><i class="fa fa-code"></i></span>
                        <h2>Liste des commentaires :</h2>
                </div>
        </div>
    </div><!-- inner Head -->    
    
    <section class="block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">	
					<div class="row">
						<div class="col-md-12">
							<div class="single-post-sec">
								<div class="row" class="blog-post">
                                                                    <H1>{{blogPost.title}}</H1>
                                                                    <H4>Par {{blogPost.author}}, le {{blogPost.updateDate | date('d/m/Y')}}</H4>
                                                                    <p><strong>{{blogPost.content|slice(0,300)}}</strong>...</p>
                                                                </div>  
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>    
            <div class="container">
                    <div class="row table table-responsive">                            
                        <table class="table table-striped table-bordered ">
                            <thead>
                                <th>Date</th>
                                <th>Auteur</th>
                                <th>Message</th>  
                            </thead>                
                            <tbody>
                                {% for comment in comments %}
                                    <tr {% if comment.valid == true %}class="table-success"{% endif %}>
                                        <td>Le {{comment.updateDate | date('d/m/Y')}} à {{blogpost.updateDate |date('g')}}h{{blogpost.updateDate |date('i')}}</td>
                                        <td>{{comment.author}}</td>
                                        <td>{{comment.content}}</td>
                                        <th style="border: none;">
                                            <a class="btn btn-danger" role="button" aria-disabled="true" href="/admin/blogpost/{{blogPost.id}}/commentaire/{{comment.id}}/supprimer">Supprimer</a>
                                            {% if comment.valid == false %}
                                                <a class="btn btn-success" role="button" aria-disabled="true" href="/admin/blogpost/{{blogPost.id}}/commentaire/{{comment.id}}/valider">Valider</a>
                                            {% endif %}                                        
                                        </th>
                                    </tr>
                                {% endfor %}
                            </tbody>    
                        </table>
                    </div>
            </div>
    </section>
{% endblock %}